<ng-container *transloco="let t">
  <mat-toolbar class="admin-toolbar">
    <a routerLink="/admin" class="brand">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>MedBook Admin</span>
    </a>
    <span class="spacer"></span>
    @if (admin$ | async; as admin) {
      <button
        type="button"
        class="avatar-trigger"
        [matMenuTriggerFor]="accountMenu"
        [attr.aria-label]="t('account.menu')"
      >
        <span class="admin-name">{{ admin.firstName }} {{ admin.lastName }}</span>
        <app-avatar [person]="admin" [size]="36" />
      </button>

      <!-- The platform owner has no staff profile - just language, password and logging out. -->
      <mat-menu #accountMenu="matMenu" xPosition="before" class="account-menu">
        <div class="account-menu-header" (click)="$event.stopPropagation()">
          <app-avatar [person]="admin" [size]="44" />
          <div class="account-menu-who">
            <div class="account-menu-name">{{ admin.firstName }} {{ admin.lastName }}</div>
            <div class="account-menu-email">{{ admin.email }}</div>
          </div>
        </div>
        <mat-divider />
        <button mat-menu-item [matMenuTriggerFor]="languageMenu">
          <mat-icon>translate</mat-icon>
          <span>{{ t('account.language') }}</span>
        </button>
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>key</mat-icon>
          <span>{{ t('account.changePassword') }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{ t('account.logOut') }}</span>
        </button>
      </mat-menu>

      <mat-menu #languageMenu="matMenu">
        @for (lang of languages; track lang.code) {
          <button mat-menu-item (click)="language.use(lang.code)">
            <mat-icon>{{ lang.code === language.current() ? 'check' : '' }}</mat-icon>
            <span>{{ lang.label }}</span>
          </button>
        }
      </mat-menu>
    }
  </mat-toolbar>

  <main class="admin-content">
    <router-outlet />
  </main>
</ng-container>
